@font-face {
    font-family: notosans;
    src: url(/fonts/NotoSans-ExtraLight.ttf);
}
@font-face {
    font-family: gina;
    src: url(/fonts/Gina-DemiBold.woff2);
}


.banner-coupon-code{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/images/banner.png);
   width: 100%;
    display: flex;
 
  text-align: center;
  
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  /* margin-top: 100px; */
  margin-bottom: 110px;
  color: white;
  
}
.banner-coupon-code h1{
    font-family: gina;
    font-weight: bolder;
    font-size: 50px;

}
.banner-coupon-code p{
   font-family: gina;
   font-size: 20px;
   color: rgb(184, 184, 184);

}
.whoweare{
    display: flex;
    justify-content: center;
    gap: 50px;
    justify-items: center;
  padding-left:100px ;
    align-items: center;
}
.whowe-img img{
    height: 500px;
    width: 700px;
 
}
.whowe-text h1{
 font-family: poppins;
 font-size: 50px;
}
.whowe-text p{
margin-right: 100px;
font-family: gina;
font-size: 18px;
}



.videoapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.videoapp h1{
    font-family: poppins;
    font-size: 50px;
}
.videoapp video{
  width: 1000px;
  border-radius: 20px;
}


.feature{
    margin-bottom: 100px;
}